
.image-gradient-dynamic {
  $image-gradient-color-top: saturate($wizard-orange,40%);
  $transparency-top: .6;
  $image-gradient-color-bottom: saturate(yellow, 60);
  $transparency-bottom: .7;
  $vertical-angle: 180deg;

  $image-gradient-color-left: $wizard-orange;
  $transparency-left: .8;
  $image-gradient-color-right: $wizard-orange;
  $transparency-right: .5;
  $horizontal-angle: 90deg;

  position: relative;
  line-height: 0;
  width: 100%;
  margin-bottom: 0;
  background-image: url("bg_grid.png");
  .hero {
   margin: 0;

   width: 100%;
   max-height: 100%;
   position: relative;
   top: 0;
   left: 0;
  }

  .copy {
    position: relative;
    margin: auto;
    z-index: 999;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(100, 0, 0, 1);
    h1 {
      text-transform: uppercase;
      font-size: 2em;
        @include media($medium-screen-up) {
          font-size: 4em;
        }
      color: lighten($wizard-blue, 50%);
      line-height: 1.5em;
      padding-top: 25%;
      @include media($medium-screen-up) {
        padding-top: 15%;
      }
    }
    p {
      line-height: 1.5em;
      padding: 1em 2em;
      position: relative;
      color: white;
      font-weight: 800;
      padding-bottom: 45%;
      @include media($medium-screen-up) {
       padding-bottom: 35%;
      }

    }
  }

  .overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top),
      transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);

    &:after {
      content: '';
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left),
        transparentize($image-gradient-color-right, $transparency-right));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);
    }
  }
}

.homepage-thesis {
  border-top: 10px lighten($wizard-gray, 50) solid;
  border-bottom: 10px lighten($wizard-gray, 50) solid;
  color: $wizard-blue;
  background: lighten($wizard-gray, 70);
  padding: 4em 3em;
  text-align: center;
  h2 {
    margin-bottom: 1em;
  }
  p {
    max-width: 650px;
    font-size: 1.1em;
    line-height: 1.4em;
    margin: auto;
  }
}