//#flash_notice shouldn't probably be used, but it works.
  #flash_notice {
   background-color: $wizard-orange;
    background-image: image-url("bg_grid.png");
   color: white;
   text-align: center;
   font-weight: 700;
  }

.homepage-hero {
  background: $wizard-orange;
  background-image: image-url("bg_grid.png");
  height: 600px;
  text-align: center;

  .copy {
    color: $wizard-pale-gray;
    padding-top: 225px;
    h1 {
      text-transform: uppercase;
      font-size: 2em;
      line-height: 1.5em;
      @include media($medium-screen-up) {
        font-size: 4em;
      }
    }
    p {
      margin-top: 1em;
      font-weight: 800;
    }
  }

}

.homepage-thesis {
  border-top: 10px lighten($wizard-gray, 50) solid;
  border-bottom: 10px lighten($wizard-gray, 50) solid;
  color: $wizard-blue;
  background: lighten($wizard-gray, 70);
  padding: 4em 3em;
  text-align: center;
  h2 {
    margin-bottom: 1em;
  }
  p {
    max-width: 650px;
    font-size: 1.1em;
    line-height: 1.4em;
    margin: auto;
  }
}