.homepage-products {
  $icon-bullet-size: 4em;

  .product-container {
    padding-top: 3em;
    @include outer-container;
    margin-bottom: $base-line-height;

  }

  .product {
    padding: 20px;
    @include clearfix;
    // margin-bottom: 1em;
    // text-align: center;

    @include media($large-screen) {
      @include span-columns(6);
      @include omega(2n);
    }
  }

  .bullet-icon {
    margin: 5px 20px;
    width: $icon-bullet-size;
    height: $icon-bullet-size;
    border-radius: 50%;
    background: $base-accent-color;
    position: relative;
    color: white;
    float: left;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      font-size: $icon-bullet-size / 2.3;
    }

    &:hover {
      @include animation(spin 1s infinite linear)
    }

  }

  .bullet-content {
    h2 {
      text-transform: uppercase;
      border-bottom: 1px solid transparentize($base-font-color, .8);
      display: inline-block;
    }
  }

  .bullet-icon-1 {
    background: $wizard-blue;
  }

  .bullet-icon-2 {
    background: $wizard-orange;
  }

  .bullet-icon-3 {
    background: $wizard-gray;
  }
}