.team-section {
  background-color: #f2f2f2;
  .team-section-inner {
    @include outer-container;
    @include clearfix;
    padding: 4em;
    text-align: center;
    .team-title {
      color: $wizard-orange;
      font-size: 1.6em;
      margin-bottom: .75em;

      @include media($large-screen) {
        font-size: 2.5em;
      }
    }
    .team-members {
      .bio-box {
        margin: 1em auto 3em auto;
        text-align: center;

        @include media($large-screen){
          margin-bottom: 1em;
          @include span-columns(4);
          @include omega(3n);
        }
        .bio-name {
          color: #555;
          font-size: 1.6em;
          margin-bottom: .75em;

          @include media($large-screen) {
            font-size: 2em;
            margin-bottom: .4em;
          }
        }
        .bio-paragraph {
          font-family: $serif;
          font-weight: 200;
          font-size: 16px;
          line-height: 1.5em;
          color: #555;

          @include media($large-screen) {
            text-align: center;
            width: 90%;
            margin: auto;
          }
        }
        .bio-image {
          $image-size: 150px;
          width: $image-size;
          height: $image-size;
          border-radius: $image-size / 2;
          border: 1px solid $wizard-pale-gray;
          display: block;
          margin: 20px auto;
        }
        .bio-button-bar {
          list-style-type: none;
          margin: 5px 0;

          .bio-button {
            display: inline;
            margin: 0 5px;
          }
          .bio-link {
            color: $wizard-blue;
            outline : none;
            &:hover, &:visited {
            outline : none;
            }
          }
        }
      }
    }
  }
}