.team {
  padding-top: 3em;
  // @include outer-container;
  @include fill-parent;
  @include omega;

  .col-4 {
    @include media($large-screen){
      @include span-columns(4);
      @include omega(3n);
    }
    @include media($medium-screen){
      @include span-columns(4);
      @include omega(3n);
    }
    @include media($mobile-screen){
      @include span-columns(4);
      @include omega(3n);
    }



  }

  .bio-box{
    margin: 10px 0 10px 20px;
    border-radius: 6px;
    background-color: $wizard-white;
    border: 3px solid $wizard-pale-gray;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    .bio-image{
      width: 125px;
      height: 125px;
      border-radius: 62.5px;
      border: 1px solid $wizard-pale-gray;
      display: inline-block;
      margin: 23px 137.5px 0 137.5px;
    }
    .bio-name{
      font-size: 2em;
      font-weight: 900;
      text-align: center;
      margin: 0;
      padding: 0;
      color: $wizard-gray;
    }
    .bio-paragraph {
      width: 250px;
      height: 125px;
      overflow: hidden;
      margin: 0 75px;
      text-align: justify;
      line-height: 1.2em;
      color: $wizard-gray;
    }

    .bio-button-bar{
      list-style-type: none;
      margin: 5px 129px;
      .horizontal-nav {
        @include transition (all 1s ease-in-out);
        display: inline;
        .bio-link {
          color: $wizard-blue;
          outline : none;
          &:hover, &:visited {
            outline : none;
          }
        }
        .bio-link {
          color: $wizard-blue;
          outline : none;
          &:hover, &:visited {
            outline : none;
          }
        }

        .bio-inline-display {
          display: inline;
          font-size: 15px;
          font-weight: 700;
        }
      }


    }


   } //THIS CLOSES BIO-BOX

}