h2 {
  text-align: center;
  color: $wizard-orange;
  font-size: 1.6em;
  margin-bottom: 1em;

  @include media($large-screen) {
    font-size: 2.5em;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.main-content {
  margin-top: 60px;
}