<article class="casestudy">
  <div class="quote-card">
    <%= image_tag 'kate-2.png', class: 'case-image', alt: 'Kate at Bien Cuit', title: 'Kate at Bien Cuit' %>
    <blockquote>
      "It's not centuries old technique that needs to change it's centuries old technology"<br>- Kate Wheatcroft, Co-Founder
    </blockquote>
  </div>
  <div class="content">
    <%= image_tag 'bakecycle-logo.png', class: 'logo bakecycle' %>
    <p>
      BakeCycle started in the basement of Bien Cuit a French Bakery based in Brooklyn. It helped them grow to be one of the most successful bakeries in New York and landed owner Kate Wheatcroft in Forbe's 30 under 30. Learn how Kate worked with Wizard Development to take BakeCycle from their basement to the world.
    </p>
    <%= link_to "Read BakeCycle's Story", bakecycle_path, class: "right" %>
  </div>
</article>
