<div id="casestudies" class="casestudy-container">
  <h2 class="casestudy-title">Case Study</h2>
  <div id="onemonth" class="casestudy-box casestudy-onemonth">
    <div class="images-wrapper"></div>
    <div class="content">
      <div class="logo">
      <%= image_tag 'OM-BLK-LOGO-01.svg'%>
      </div>
      <p class="text">We started working with One Month not long after their graduation from Y Combinator. We provided the development expertise to help expand their platform to handle their growing business. No longer being constrained by the speed of their development they expanded their classes, marketing and student experience. Now thousands of students are able get the skills they need to launch their careers in 30 minutes a day, for 30 days.
      </p>
      <h3 class="quote">"I was able to work on the business and know that we had our development covered." - Mattan Griffle CEO</h3>
      <a href="https://onemonth.com"><button>Visit Site</button></a>
    </div>
  </div>
</div>