<div class="casestudy-container">
  <div class="casestudy-inner">
  <h2 class="casestudy-title">Case Study</h2>
    <div class="casestudy-onemonth">
      <div class="images-wrapper"></div>
      <div class="content">
        <div class="logo">
        <%= image_tag 'OM-BLK-LOGO-01.svg'%>
        </div>
        <p>We started working with one month not long after their graduation from Y Combinator. We managed development while they grew their sales, marketing and educational channels. We built them their tools for their daily business, expanding their capbilites to handle new bussiness needs. We allowed them to sell their classes the way that made sense for their needs.
        </p>
        <h3>"I was able to work on the business and know that we had our development covered." - Mattan Griffle CEO</h3>
        <a href="http://www.onemonth.com"><button>Visit Site</button></a>
      </div>
    </div>

  </div>
</div>