<div id="casestudies" class="casestudy-container">
  <h2 class="casestudy-title">Exceptional Clients</h2>
  <div id="onemonth" class="casestudy-box casestudy-onemonth">
    <div class="images-wrapper one-month"></div>
    <div class="content">
      <div class="logo">
      <%= image_tag 'OM-BLK-LOGO-01.svg'%>
      </div>
      <p class="text">We started working with One Month not long after their graduation from Y Combinator. We provided the development expertise to help expand their platform to handle their growing business. No longer being constrained by the speed of their development they expanded their classes, marketing and student experience. Now thousands of students are able get the skills they need to launch their careers in 30 minutes a day, for 30 days.
      </p>
      <h3 class="quote">"I was able to work on the business and know that we had our development covered." - Mattan Griffel, CEO</h3>
      Improve your skills with Mattan at <a href="https://onemonth.com">OneMonth.com</a>.
    </div>
  </div>

  <div id="onemonth" class="casestudy-box casestudy-onemonth">
    <div class="content">
      <div class="logo">
      <%= image_tag 'winnower_logo.png'%>
      </div>
      <p class="text">Our first goal with The Winnower was to address site performance and scalability. Bugs had become a major issue and the architecture was no longer appropriate. Refactoring feature by feature and adding testing, we ended up with more flexible and less scary system. Deploy days previously filled with dread became filled with joy. New features could implemented in a fraction of the time without crippling other site functions and losing developers in major rewrites. We are now focusing on new and exciting features and are excited to help The Winnower change the way research is published and reviewed.
      </p>
      <h3 class="quote">"Wizard Development identified and solved problems I didn't even know we had but would have caused us big problems. Our platform became much more stable and reliable and it was all due to them.  They take a holistic view on web development saving us time and money as we grow." - Josh Nicholson, Founder</h3>
      Do Science with Josh at <a href="https://thewinnower.com">TheWinnower.com</a>.
    </div>
    <div class="images-wrapper the-winnower"></div>
  </div>
</div>