<section class="light">
  <div class="clients-container">
    <div class="featured-client">
      <h2>Featured Client</h2>
      <%= render "winnower" %>
    </div>
    <div class="featured-client">
      <%= link_to "Client Profiles", clients_path, class: 'button orange' %>
    </div>
  </div>
</section>
