<section class="closed">
  <div class="closed-container">
    <div class="">
      <div class="coffee">
        <h2>We are closed</h2>
        <%= image_tag 'coffee-cup.svg', class: 'coffee-cup' %>
      </div>
      <div class="goodbye">
        <p>We are closed. Wizard Development was the result of a passion for learning, teaching and for each other. We endeavored to improve our communities and ourselves. After almost 3 years of service and many successful projects, we can safely say we left our dent.</p>
        <p>However, a mission such as ours never ends. We now continue it with other wonderful teams on other projects and with other companies. We thank our clients for the opportunity to have worked with you and we hope to get a chance to do it again.</p>
        <p>-The Wizard Development Team</p>
      </div>
    </div>
  </div>
</section>
