<footer class="homepage-footer">
  <p><a href="https://twitter.com/wizarddev">@wizarddev</a></p>
  <p><a href="http://wizard.codes/">Blog</a></p>
  <p>Coffee-Cup by <a href="http://www.dieselsweeties.com">rstevens</a></p>
  <p>Made with love in NYC</p>
</footer>