<header class="navigation">
  <div class="menu-wrapper">
    <a href="javascript:void(0)" class="logo">

    </a>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="javascript:void(0)">Home</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Services</a>
        </li>
        <li class="nav-link"><a href="javascript:void(0)">Team</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Case Studies</a>
        </li>
      </ul>
    </div>
</header>