<article class="casestudy">
  <div class="header">
  </div>
  <div class="content left">
    <%= image_tag 'one-month-dark.png', class: 'logo' %>
    <p>
      One month graduated from Y combinator with a great product and growing client base. They needed to scale quickly and add some new user facing and internal features. We joined their team to help them go from a small scale startup to nationally recognized leader in their field. No longer constrained by the speed of their development, they expanded their classes, marketing, and student experience. Now thousands of students are able to learn the skills they need to launch their careers in 30 minutes a day for 30 days.
    </p>
    <a href="https://onemonth.com">Improve your skills with Mattan at OneMonth.com</a>.
  </div>
  <div class="quote-card right">
    <%= image_tag 'mattan.png', class: 'case-image' %>
    <blockquote>
      "I was able to work on the business and know that we had our development covered." - Mattan Griffel, CEO
     </blockquote>
  </div>
</div>
