<section class="products light">
  <div class="products-container" id="services">
    <div class="product">
      <div class="product-logo logo-1">
        <i class="fa fa-terminal"></i>
      </div>
      <div class="product-content">
        <h2>Product Development</h2>
        <p>
          Make your software work for you. You know what your business needs, we know how to build it. We build the tools that your team uses to keep the edge in your market and the apps that allow you to provide services in new and unique ways.
        </p>
      </div>
    </div>
    <div class="product">
      <div class="product-logo logo-2">
        <i class="fa fa-group"></i>
      </div>
      <div class="product-content">
        <h2>Skill Sharing</h2>
        <p>
          You know how to build your product. We know how to improve your flow. There's no such thing as magic. How you work affects the outcome of your work. We teach you best practices that your team can use every day.
        </p>
      </div>
    </div>
  </div>
</section>
