<section class="homepage-products">
  <div class="product-container">
    <div class="product">
      <div class="bullet-icon bullet-icon-1">
        <i class="fa fa-terminal"></i>
      </div>
      <div class="bullet-content">
        <h2>App Development</h2>
        <p>We build strong products. allow you to provide value to your customers, engaging them on multiple levels and allowing you to learn your markets. Both kinds of projects are very valuable to a heathly business.
        </p>
        </div>
    </div>
    <div class="product">
      <div class="bullet-icon bullet-icon-2">
        <i class="fa fa-group"></i>
      </div>
      <div class="bullet-content">
        <h2>Skill Sharing</h2>
        <p>You know how to build your product. We know how to improve your flow. There's no such thing as magic. How you work effects the purpose of your work. We teach you best practices that you'll use every day.</p>
      </div>
    </div>
  </div>
</section>