<article id="ride" class="casestudy">
  <div class="quote-card">
    <%= image_tag 'juan.png', class: 'case-image', alt: 'Juan from Ride', title: 'Juan from Ride' %>
    <blockquote>
      Amy is my hero!<br>- Juan Buritica, Ride CTO
    </blockquote>
  </div>

  <div class="content">
    <%= image_tag 'ride_logo.png', class: 'logo ride' %>
    <p>
      Ride takes the hassle out of carpooling to work by matching drivers and passengers using geolocation technology. The tech team at Ride needed to build new features for an enterprise client to provide even better service. We were able to join their remote team from right here in NYC to deliver new features and improve existing code. Continuous deployment allowed users to take advantage of the new services quickly and seamlessly.
    </p>

    <%= link_to 'Find your carpool at Ride.com.', winnower_path, class: 'learn-more' %>
  </div>
</article>