<section class="team-section dark">
  <div class="team-section-inner">
    <h2 class="team-title">Our Team</h2>
    <div class="team-members">
      <%= render partial: 'home/developer', collection: @developers  %>
    </div>
  </div>
</section>
