<section id="team" class="team-section">
  <div class="team-section-inner">
    <h2 class="team-title">Our Team</h2>
    <div class="team">
    <%= render partial: 'home/employee', collection: @employees  %>
    </div>
  </div>
</section>