<section class="homepage-thesis">
  <div class="homepage-thesis-inner">
    <div class="homepage-thesis-copy">
      <h2>Process Matters.</h2>
      <p>We work with project managers and dev teams to eliminate the difficulties that come with launching new projects and features. Our approach delivers changes quickly and incrementally, allowing for changes throughout the process. Tested code ensures that launches are seamless and anxiety free. This not only creates great websites, but a healthy environment for innovation.</p>
    </div>
  </div>
</section>
