<section class="tools dark">
  <div class="tools-container">
    <div class="tools-header">
      <h2>Our Tools</h2>
      <p class="center">Although we have preferences to what we use, we are always open to using the right tool for the job.</p>
    </div>
    <div class="tool-content">
      <h4>Ruby on Rails</h4>
      <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png") %>
      <br />
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="tool-content">
      <h4>React</h4>
      <%= image_tag("https://www.codementor.io/assets/tutorial_icon/reactjs.png") %>
      <br />
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="tool-content">
      <h4>Angular JS</h4>
      <%= image_tag("http://res.cloudinary.com/buddahbelly/image/upload/v1423072364/brilliantbritz/angular-js.png") %>
      <br />
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</section>
