<article id="winnower" class="casestudy">
  <div class="content">
    <%= image_tag 'winnower_logo.png', class: 'logo winnower' %>
    <p>
      Josh Nicholson was researching cancer at one of the more notable labs in Virginia and he had a problem. It wasn't the research itself that was giving him issues, it was publishing processes he needed to follow to get his research reviewed by his fellow scientists. Peer review can be a lengthy and expensive process, and there is no guarantee of publishing in the end. Research is hard enough and these aren't issues scientists should have to deal with. Josh decided to do something about it.
    </p>

    <%= link_to 'Learn How The Winnower got off the ground.', winnower_path, class: 'learn-more' %>
  </div>

  <div class="quote-card">
    <%= image_tag 'joshua.png', class: 'case-image', alt: 'Josh and his business partner, Pete', title: 'Josh and his business partner, Pete' %>
    <blockquote>
      In order to cure cancer, we first need to cure cancer research. - Joshua Nicholson, Founder
    </blockquote>
  </div>
</article>
