<article id="winnower" class="casestudy">
  <div class="logo">
    <%= image_tag 'winnower_logo.png'%>
  </div>
  <p>
    Josh Nicholson was researching cancer at one of the more notable labs in Virginia and he had a problem. It wasn't the research itself that was giving him issues, it was publishing processes he needed to follow to get his research reviewed by his fellow scientists. His thesis would see the light of day but none of the other work he was doing would be published. In order to publish he would need grants to pay for them, months of back and forth and the people who would be reviewing his work before publication he already knew and could reach out to on his own. Research is hard enough and these weren't issues scientists should have to deal with. Josh decided to do something about it.
  </p>
  <blockquote>
    In order to cure cancer, we first need to cure cancer research.<br>- Joshua Nicholson, Founder
  </blockquote>

  <%= link_to 'Learn How The Winnower got off the ground.', winnower_path %>

</article>
