<article id="bakecycle" class="casestudy">
  <h1 class="logo">BakeCycle</h1>
  <p>
    Kate Wheatcroft and her husband and business partner Zach Golper moved to New York to open a bakery. Zach had spent the last 10 years training across the country and France in the art of bread making and it was time to open their own bakery. Zach wanted to show the world what the ancient art of bread making meant to him. And Kate felt she could build a better way to run a bakery.
  </p>

  <blockquote>
    "It's not centuries old technique that needs to change it's centuries old technology"<br>- Kate Wheatcroft, Co-Founder
  </blockquote>

  <p>
    Most bakeries run the same way.
  </p>
</article>
