<article class="story">
  <h1 class="logo">BakeCycle</h1>
  <p>
    Kate Wheatcroft and her husband and business partner Zach Golper moved to New York to open a bakery. Zach had spent the last 10 years training across the country and France in the art of bread making and it was time to open their own bakery. Zach wanted to show the world what the ancient art of bread making meant to him. And Kate felt she could build a better way to run a bakery.
  </p>

  <blockquote>
    "It's not centuries old technique that needs to change it's centuries old technology"<br>- Kate Wheatcroft, Co-Founder
  </blockquote>

  <p>
    Something about how Kate and Francis worked together to complete Kate's vision of a bakery management app.
  </p>


  <h2>Teaming Up</h2>
  <p>
    The bakers and administration team at Bien Cuit walked us through how they take orders, measure ingredients and plan ahead. We used the technology that was previously built, which lacked scalability and automated testing, and started planning our own approach.
  </p>

  <p>
    We continue to receive feedback and make changes based on how the product is used in the real world, and can make custom changes for new bakeries as they join Bakecycle. We help make the transition from other databases and formats through custom code, allowing the bakers to transition smoothly.
  </p>

  <h2>The Technology</h2>
  <p>
    We test all of our code and manually test it in a seperate 'staging' environment before making changes to the production application. We use the latest Javascript frameworks and Ruby on Rails to create a great all around experience.
  </p>
</article>
