<article id="casestudies" class="casestudies-container">
  <h2>Featured Clients</h2>
  <p class="tagline">We work with small businesses owners to solve the challenges within their industries. Our websites are custom built using the latest technology, automated testing, and modern design.
  <%= render 'winnower' %>
  <%= render 'bakecycle' %>
  <%= render 'one_month' %>
</article>