<article class="casestudies-container">
  <h2>Featured Clients</h2>
  <p class="tagline">
    We work with various sized organizations, from YC backed startups to large established firms. We help them tackle the difficult problems to grow their apps into what they should to be.
  </p>
  <%= render "winnower" %>
  <%= render "bakecycle" %>
  <%= render "one_month" %>
</article>
