<% content_for :js do %>
  <%= javascript_include_tag 'home' %>
<% end %>

<div id="site_container">
  <header>
    <h1 class="logo home">Wizard Development</h1>
    <h2 class="tagline">Software development and agile consulting</h2>
    <p class="mission_statement">
      Wizard Development makes Products and Development Teams strong. We're a team of product managers, developers, and designers. Our philosophy is success through education. We teach you how to get the most value from your work and and from your software.
    </p>
    <div class="buttons">
      <a class="business-services"><span>for</span>Businesses</a>
      <a class="dev-teams"><span>for</span>Development Teams</a>
    </div>
  </header>
  <%= render 'businesses' %>
  <%= render 'dev_teams' %>
  <footer></footer>
</div><!--//site_container -->
