<div class="homepage-hero">
  <div class="copy">
    <h1 class="title">Wizard Development</h1>
    <h2 class="sub-title">Building Better Products with Stronger Teams</h2>
  </div>
</div>

<section class="homepage-thesis">
  <h2>Process Matters.</h2>
  <p>We work with project managers and dev teams to eliminate the difficulties that come with launching new projects and features. Our approach delivers changes quickly and incrementally, allowing for changes throughout the process. Tested code ensures that launches are seamless and anxiety free. This not only creates great websites, but a healthy environment for innovation.</p>
</section>

<%= render 'products' %>

<section class="homepage-thesis">
  <h3 class="thesis">Are your developers working on the most important thing?</h3>
  <h3 class="thesis">Will the next deploy break anything?</h3>
  <h3 class="thesis">What would happen if you deployed right now?</h3>
  <h3 class="thesis">When will your next feature be really finished?</h3>
  <h3 class="thesis">Who knows what changed this week?</h3>
  <h3 class="thesis">Are you developers working without fear of stepping on each others' toes?</h3>
</section>

<section class="team">
  <%= render partial: 'home/employee', collection: @employees  %>
</section>

<%= render 'contact_form' %>
