<div id="site_container">
  <header>
    <h1 class="logo home">Wizard Computing</h1>
    <h2 class="tagline">Software development and agile consulting</h2>
    <p class="mission_statement">Wizard Computing makes good software. We're a team of product managers, developers, and
    designers. We have trained in the agile ways, forged ourselves in the fires of NYC startups,
    we deliver fast, we analyze everything, and teach you how to get value from software.</p>
    <div class="buttons">
      <a class="service_1"><span>for</span>Businesses</a>
      <a class="service_2"><span>for</span>Development Teams</a>
    </div>
  </header>
  <div id="service_1_content">
     <p class="description">
      Good software is our business.<br />We can help your to be, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua:
    </p>
    <ul class="services ">
      <li>need to style this - depending on content</li>
      <li>consectetur incididunt</li>
      <li>sed do eiusmod tempor incididunt ut</li>
      <li>magna aliqua Ut enim ad minim veniam ad</li>
      <li>nostrud exercitation ullamco</li>
      <li>laboris nisi ut aliquip ex ea commodo</li>
      <li>consequat duis aute irure dolor in reprehenderit </li>
      <li>in voluptate velit esse cillum dolore</li>
      <li>excepteur sint occaecat cupidatat</li>
      <li>non proident, sunt in culpa qui officia</li>
      <li>deserunt mollit anim id est laborum</li>
    </ul>
    <form action="">
      <p>Interested? – Let us know how we can work with you!</p>
      <input class="text" type="text" id="xxxxx" name="xxxxx" value="your name"><div class="required"></div>
      <input class="text error" type="email" id="xxxxx" name="xxxxx" value="your email"><div class="required"></div>
      <input class="text active" type="text" id="xxxxx" name="xxxxx" value="your business name"><div class="required"></div>
      <p class="small">Who is the project primarily for?</p>
            <input type="radio" id="r1" name="rr" />
            <label for="r1"><span></span>my company</label>
      <input type="radio" id="r2" name="rr" />
            <label for="r2"><span></span>my clients</label>
      <div class="playedwiththisspacefor30minandreallyneedthisbutdontknowhowtoaddbesidesinline" style="margin: 0px 0px 20px 0px; line-height: 0px;">&nbsp;</div>
      <select class="selectbox" id="select_1" name="xxxxx">
        <option value="option1">Do you have a development team?</option>
        <option value="option2">Not right now, I need some help.</option>
          <option value="option3">Yes I have my own team.</option>
          <option value="option4">I've hired teams or contractors in the past.</option>
      </select>
      <select class="select" id="select_2" name="xxxxx" multiple onchange="xxxxx" size="1">
        <option value="option1">What stage is your product in?</option>
        <option value="option2">Inception (We have an idea, but we need to figure out how to make it a product.)</option>
        <option value="option3">MVP (We've started making our product, and have the begining launched.)</option>
        <option value="option4">Mid Stage (We've launched our proudct, and need help making sense of our data for new features.)</option>
        <option value="option5">Mature (We need help growing our product, every % performance increase is money in the bank.)</option>
        <option value="option6">Stalled (We've been developing for months and I worry we'll never launch!)</option>
      </select>
        <p class="small">Tell us about your product:</p>
        <textarea class="textarea" name="xxxxx" rows="8" cols="40"></textarea>
        <input class="submit" type="submit" id="xxxxx" name="xxxxx" value="send your message">
      </select>
    </form>
  </div><!--//service_1_content -->
  <div id="service_2_content">
    <p class="description">
      Good software is our business.<br />We can help your to be, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua:
    </p>
    <ul class="services ">
      <li>need to style this - depending on content</li>
      <li>consectetur</li>
      <li>sed do eiusmod tempor incididunt ut</li>
      <li>magna aliqua Ut enim ad minim veniam ad</li>
      <li>nostrud exercitation ullamco</li>
      <li>laboris nisi ut aliquip ex ea commodo</li>
      <li>consequat duis aute irure dolor in reprehenderit </li>
      <li>in voluptate velit esse cillum dolore</li>
      <li>excepteur sint occaecat cupidatat</li>
      <li>non proident, sunt in culpa qui officia</li>
      <li>deserunt mollit anim id est laborum</li>
    </ul>
    <form action="">
      <p>Interested? – Let us know how we can work with you!</p>
      <input class="text" type="text" id="xxxxx" name="xxxxx" value="your name"><div class="required"></div>
      <input class="text" type="email" id="xxxxx" name="xxxxx" value="your email"><div class="required"></div>
      <input class="text" type="text" id="xxxxx" name="xxxxx" value="your business name">
      <p class="small">How large is your team?</p>
      <input class="text" type="number" id="xxxxx" name="xxxxx" value="12">
      <p class="small">Please check all that apply:</p>
      <input type="checkbox" id="c1" name="xxxxx" />
            <label for="c1"><span></span>We have a reliable test suite with good coverage.</label>
      <input type="checkbox" id="c2" name="xxxxx" />
            <label for="c2"><span></span>We have a continues integration server.</label>
      <input type="checkbox" id="c3" name="xxxxx" />
            <label for="c3"><span></span>We keep master deployable.</label>
      <input type="checkbox" id="c4" name="xxxxx" />
            <label for="c4"><span></span>We have a one step deploy.</label>
      <input type="checkbox" id="c5" name="xxxxx" />
            <label for="c5"><span></span>Bugs are not a problem.</label>
      <input type="checkbox" id="c6" name="xxxxx" />
            <label for="c6"><span></span>Releases are not a problem.</label>
      <input type="checkbox" id="c7" name="xxxxx" />
            <label for="c7"><span></span>Infrastructure is not a problem.</label>
      <input type="checkbox" id="c8" name="xxxxx" />
            <label for="c8"><span></span>We break down features into deployable testable units of work.</label>
      <input type="checkbox" id="c9" name="xxxxx" />
            <label for="c9"><span></span>We have one week sprints.</label>
      <input type="checkbox" id="c10" name="xxxxx" />
            <label for="c10"><span></span>We have weekly retrospectives.</label>
      <input type="checkbox" id="c11" name="xxxxx" />
            <label for="c11"><span></span>We use analytics when planning new features.</label>
      <p class="small">What can we help you with?</p>
        <textarea class="textarea" name="xxxxx" rows="8" cols="40"></textarea>
        <input class="submit" type="submit" id="xxxxx" name="xxxxx" value="send your message">
      </select>
    </form>
  </div><!--//service_2_content -->
  <footer></footer>
</div><!--//site_container -->
