<div class="image-gradient-dynamic">
  <div class="hero">
    <%= render "navbar" %>
    <div class="copy">
      <h1 class="copy name">Wizard Development</h1>
      <p class="copy">Plug the holes in your development process</p>
    </div>
  </div>
  <div class="overlay"></div>
</div>

<section class="homepage-thesis">
  <h2>Process Matters.</h2>
  <p>We work with project managers and dev teams to eliminate the difficulties that come with launching new projects and features. Our approach delivers changes quickly and incrementally, allowing for changes throughout the process. Tested code ensures that launches are seamless and anxiety free. This not only creates great websites, but a healthy environment for innovation.</p>
</section>

<section class="homepage-thesis">
  <h3>Are your developers working on the most important thing?</h3>
  <h3>Will the next deploy break anything?</h3>
  <h3>What would happen if you deployed right now?</h3>
  <h3>When will your next feature be really finished?</h3>
  <h3>Who knows what changed this week?</h3>
  <h3>Are you developers working without fear of stepping on eachothers toes?</h3>
</section>
