<article>
  <header id="vision">
    <h1>What We Do</h1>

    <h2>Product Management</h2>
    <ul>
      <li>Understanding the busines goals and the value of what's being built</li>
      <li>Identifying risks both technical and operational</li>
      <li>Priortizing work that provides the most value with the most instant feedback</li>
      <li>Breaking down the work into small stories that can be delivered indepentently of eachother</li>
    </ul>

    <h2>Software Development</h2>
    <p>Internal tools
      Desktop and Mobile Web Applications
      Speed up your existing development efforts
      Documentation</p>

    <h2>Scaling and Infrastructure</h2>
    <p>  Continuous Integration and Deployment
      Deployments of your software
      Keeping your software running Monitoring / Alerting
    </p>

  </header>
  <section id="team">
    <h2>Team</h2>
    <div>
      <h3>Francis Gulotta</h3>
      <img src="http://placekitten.com/200/200">
      Startups
      Finance
      Operations
      Development
      Hardware electronics
      Internal tools - chaged how companies have worked
    </div>
    <div>
      <h3>Pending Contract</h3>
      Educational software
      Educator
      International work
      Embedded systems
      Sofware as a service
    </div>
  </section>

  <section id="contact">
    <h2>Contact Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
  </section>

</article>
