<% content_for :js do %>
  <%= javascript_include_tag 'mvp' %>
<% end %>

<script type="text/x-handlebars" data-template-name="application">
  {{ outlet }}

</script>

<script type="text/x-handlebars" data-template-name="mvp">
  <h1>Team Page!</h1>
  {{gustavo name='gustavo' src=gustavo.jpg}}
  <gustavo></gustavo>
  <armando></armando>
  <hannah></hannah>
  <amy wierd=true></amy>
</script>

<script type="text/x-handlebars" data-template-name="components/gustavo">
  <section>
    <h1>{{name}}</h1>
    <img {{bind-attr src=src}} />
  </section>
</script>

