<article id="mvp">
  <header id="name">
    <h1>Wizard Computing, LLC</h1>
    <h3>Software development, Agile Consulting</h3>
    <tel>(718) 360-8816 / <%= mail_to 'Francis@wizardcomputing.com' %></tel>
  </header>
  <section id="contact">
    <form>

    </form>
  </section>
</article>
