<article id="winnower" class="casestudy">
  <div class="logo">
    <%= image_tag 'winnower_logo.png'%>
  </div>
  <p>
    Josh Nicholson was researching cancer at one of the more notable labs in Virginia and he had a problem. It wasn't the research itself that was giving him issues, it was publishing processes he needed to follow to get his research reviewed by his fellow scientists. His thesis would see the light of day but none of the other work he was doing would be published. In order to publish he would need grants to pay for them, months of back and forth and the people who would be reviewing his work before publication he already knew and could reach out to on his own. Research is hard enough and these weren't issues scientists should have to deal with. Josh decided to do something about it.
  </p>
  <blockquote>
    In order to cure cancer, we first need to cure cancer research.<br>- Joshua Nicholson, Founder
  </blockquote>
  <p>
    He raised some money and found a few developers to start building him The Winnower, a place for open scholarly publishing. He combines the resources of a traditional journal with a the openness that has allowed the modern tech industry to boom. After a few months they had built a prototype and proved his concept, but found it hard to progress. The Winnower was gaining popularity but bugs kept getting in the way of publishing. Straightforward changes to the site would take a long time and break other features.
  </p>
  <p>
    Josh was refereed to Wizard Development because in order for his prototype to prosper he needed to work with a team experienced with transitioning his company from prototype to production. He needed the ability grow and easily make changes because while his idea has merit, finding a product fit takes experimentation. Wizard Development helped make that happen.
  </p>
  <p>
    Our tactics were two fold.
    <ol class="ordered-list">
      <li>Shore up the technical operations because bugs shouldn't get in the way of feature development.</li>
      <li>Put in place a product development processes to refine the site into something valuable to a wider audience.</li>
    </ol>
  </p>
  <p>
    Over the first few weeks we refactored, restructured, or rewrote problem areas of the site. We implemented a change in the underlying data model to better fit how the site was used, as it hadn't been modified since the initial inception. Eventually we moved the web hosting to a monitored and managed platform that takes care of the lower levels of web hosting so we could concentrate on the product without spending time or money on dev-ops. We also wrote automated tests to ensure The Winnower's features stayed functional as we made changes throughout.
  </p>
  <p>
    Once operations was in good shape we started concentrating on features. Uploading papers was a core feature and the bedrock of the site, however it required that people write their papers in a word or LaTeX document. This was fine for conventional publishing but we identified that scientists were blogging content they couldn't get published. We built an API and a Wordpress plugin to allow existing science blogs to cross post their content. Using the improvements we made for the API, we were able to integrate with Embedly allowing anyone to publish by simply pasting their url. Lastly we improved the foreign language support so Latin and Asian languages would be displayed properly allowing scientists all over the world to use The Winnower in their community.
  </p>
  <p>
    Josh says he'd go back to cancer research in a heart beat if he's able to solve the problems with publishing. Until then we're continuing to work with him to help him grow his site and his business.
  </p>
</article>
