$visual-grid: true !global;
.right {
  float: right;
}

.left {
  float: left
}

.casestudies-container {
  @include outer-container;
  background-color: white;
  padding-top: 2em;
  padding-bottom: 2em;


  h2 {
    text-align: center;
    color: $wizard-orange;
    font-size: 1.6em;
    margin-bottom: 1em;

    @include media($large-screen) {
      font-size: 2.5em;
    }
  }
  p {
    font-size: 18px;
    &.tagline {
      max-width: 1000px;
      margin: auto;
      padding: 30px;
      color: $wizard-blue;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
    }
  }
}

.casestudy {
  @include media($large-screen) {
    @include span-columns(10);
    @include shift(1);

    blockquote {
      margin-left: 4em;
    }
  }
  @include pad();
  padding-bottom: 4em;

  .quote-card {
      width: 300px;
      margin: auto;
      display: block;
      margin-bottom: 1em;
      padding-top: 10px;

      .case-image {
        $image-size: 200px;
        width: $image-size;
        height: $image-size;
        border-radius: $image-size / 2;
        border: 1px solid $wizard-pale-gray;
        display: block;
        margin: 20px auto;
      }

      blockquote {
        margin-left: 10px;
      }
    }

  .content {
    width: 600px;
    .logo {
      height: 66px;
      margin: auto;
      display: block;
      margin-bottom: 40px;
      &.bakecycle {
        height: 45px;
      }
    }
  }

  .ordered-list {
    @extend %default-ol;
  }

  .learn-more {
    clear: both;
    display: block;
  }
}

.logos-container {
  background-color: $light-gray;
}

.client-logos {
  max-width: 1500px;
  margin: auto;
  list-style: none;
  height: 500px;
  text-align: center;
  li {
    display: inline-block;
    margin: 120px 40px;
    img {
      height: 50px;
      display: block;
      &.winnower {
        height: 66px;
      }
    }
  }
  .button.orange {
    padding: 30px;
    color: white;
    background-color: $wizard-orange;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 2px;
  }
}
