$visual-grid: true !global;

.casestudies-container {
  @include outer-container;
  background-color: white;
  padding-top: 2em;
  padding-bottom: 2em;
}

.casestudy {
  @include media($large-screen) {
    @include span-columns(10);
    @include shift(1);

    blockquote {
      margin-left: 4em;
    }
  }
  @include pad();
  padding-bottom: 4em;

  .logo {
    margin-bottom: 1em;
    text-align: center;
  }

  .ordered-list {
    @extend %default-ol;
  }

}
