.homepage-hero {
  color: $wizard-blue;
  // background: $wizard-orange;
  // background-image: image-url("brooklyn_sunset.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  text-align: center;
  position: relative;
  overflow:hidden;
  height: 400px;

  @include media($medium-screen) {
    height: 600px;
  }

  .homepage-hero-copy {
    position: absolute;
    top: 50%;
    width: 100%;
    @include transform(translateY(-50%));

    h1 {
      // text-transform: uppercase;
      font-size: 1.9em;
      margin-bottom: .3em;
      letter-spacing: 0;

      @include media($large-screen) {
        font-size: 5em;
      }
    }

    p {
      color: $wizard-gray;
      font-family: $serif;
      font-size: 1.1em;
      margin: auto;
      font-weight: 200;
      line-height: 1.3em;
      width: 80%;

      @include media($large-screen) {
        font-size: 1.7em;
        width: 100%;
      }
    }
  }
}
