$navigation-padding: 1em;
$navigation-background: transparentize($wizard-orange, 0.2);
$navigation-color: transparentize(white, 0.2);
$navigation-background: white;
$navigation-color: $wizard-gray;
$navigation-color-hover: $wizard-gray;
$navigation-height: 60px;
$navigation-active-link-color: $wizard-gray;
$navigation-submenu-padding: 1em;
$horizontal-bar-mode: $large-screen;

.navigation {
  position: fixed;
  top: 0;
  background-color: white;
  font-family: $sans-serif;
  height: $navigation-height;
  width: 100%;
  z-index: 2;

  .menu-wrapper {
    // @include outer-container;
    @include clearfix;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;
  }

  .navigation-menu-button {
    color: $wizard-blue;
    cursor: pointer;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $navigation-color-hover;
    }
  }

  .nav {
    float: none;
    @include media ($horizontal-bar-mode) {
      float: right;
    }
  }

  .navigation-menu {
    $dark-orange: shade($wizard-orange, 10%);
    background: transparentize($dark-orange, 0.11);

    width: 100%;
    height: 0;
    overflow: hidden;
    @include transition(all 0.5s ease-in-out);

    &.show{
      display: block;
      height: 300px;
    }

    @include media ($horizontal-bar-mode) {
      background: none;
      display: inline;
    }
  }

  ul li {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: center;
    width: 100%;

    &:hover {
      background: shade($navigation-background, 20%);
      a {
        color: $navigation-color-hover;
      }
    }

    a {
      font-weight: 600;
      text-transform: uppercase;
      display: inline-block;
      color: $wizard-blue;
      text-decoration: none;
    }

    @include media ($horizontal-bar-mode) {
      background: transparent;
      &:hover {
        background: transparent;
      }
      display: inline;
      line-height: $navigation-height;
      width: auto;
      a {
        padding-right: 1em;
      }
    }
  }

  .active-nav-item a {
    padding-bottom: 3px;
  }
}
