$navigation-padding: 1em;
$navigation-color: transparentize(white, 0.2);
$navigation-background: white;
$navigation-color: $wizard-gray;
$navigation-color-hover: $wizard-gray;
$navigation-height: 60px;
$navigation-active-link-color: $wizard-gray;
$navigation-submenu-padding: 1em;
$horizontal-bar-mode: $large-screen;

.jumptarget:before {
  content: "";
  display: block;
  height: 60px;
  margin: -60px 0 0;
}

.navigation {
  position: fixed;
  top: 0;
  background-color: white;
  font-family: $sans-serif;
  height: $navigation-height;
  width: 100%;
  z-index: 2;
  @include transition(all .3s ease-in-out);

  .navigation-menu-button {
    color: $wizard-blue;
    cursor: pointer;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }
  }

  .left-nav {
    display: inline-block;
    float: left;
    padding: 10px 0 0 16px;

    h1 {
      color: $wizard-blue;
      font-size: 26px;
    }
  }

  .right-nav {
    display: block;
    float: none;
    @include media ($horizontal-bar-mode) {
      float: right;
    }
  }

  .navigation-menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    @include transition(all 0.5s ease-in-out);

    &.show{
      display: block;
      height: 300px;
    }

    @include media ($horizontal-bar-mode) {
      background: none;
      display: inline;
    }
  }

  ul li {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: center;
    width: 100%;

    a {
      color: $navigation-color-hover;
      &:hover {
        background-color: shade($navigation-background, 20%);
        @include media ($horizontal-bar-mode) {
          background-color: transparent;
        }
      }
    }

    a {
      font-weight: 600;
      text-transform: uppercase;
      display: block;
      color: $wizard-blue;
      text-decoration: none;
    }

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      width: auto;
      a {
        display: inline;
        padding-right: 1em;
      }
    }
  }
}

.active-nav-item a {
  padding-bottom: 3px;
}

.dark-nav {
  background-color: black;
  @include transition(all .3s ease-in-out);

  a {
    color: white;
    &:hover {
      color: $wizard-orange;
    }
  }


  .navigation-menu-button {
    color: white;

    &:hover {
      color: $navigation-color-hover;
    }
  }

  ul li {
    background: black;

    &:hover {
      background: shade(white, 20%);
      a {
        color: $wizard-orange;
      }
    }

    a {
      color: white;
    }

    @include media ($horizontal-bar-mode) {
      background: none;
      display: inline;
    }
    @include media ($horizontal-bar-mode) {
      background: transparent;
      &:hover {
        background: transparent;
      }
    }
  }
}
