.proposal {
  margin: 20px;
  color: #353535;

  h1 {

  }
  h2 {
    font-size:2em;
  }
  h3 {
    font-size: 1.75em;
  }

  ul {
    padding-left: 40px;
    list-style-type: disc;
    margin-bottom: 0.825em;
  }
}
