.homepage-products {
  .homepage-products-inner{
    @include outer-container;
    @include clearfix;
    padding: 5em 3em;

    .product {
      margin-bottom: 3em;
      @include media($large-screen) {
        @include span-columns(6);
        @include omega(2n);
      }

      .product-logo {
        text-align: center;
        width: 200px;
        height: 200px;
        margin: auto;
        border-radius: 50%;
        margin-bottom: 20px;
        &:hover {
          @include animation(spin 1s infinite linear);
        }

        &.logo-1 {
          background-color: $wizard-blue;
        }

        &.logo-2{
          background-color: $wizard-orange;
        }

        i {
          font-size: 100px;
          position: relative;
          top: 50%;
          width: 100%;
          color: white;
          @include transform(translateY(-50%));
        }
      }

      .product-content {
        text-align: center;
        h2 {
          font-size: 1.6em;
          margin-bottom: .75em;

          @include media($large-screen) {
            font-size: 2em;
            margin-bottom: .4em;
          }
        }
        p {
          font-family: $serif;
          margin: auto;
          font-weight: 200;
          line-height: 1.5em;

          @include media($large-screen) {
            font-size: 1.125em;
            max-width: 80%;
          }
        }
      }
    }
  }
}
