.thesis {
  .thesis-inner {
    @include outer-container;
    @include clearfix;
    padding: 10em 3em;
    margin: auto;
    text-align: center;

    .thesis-copy {
      text-align: center;

      h2 {
        color: $wizard-orange;
        font-size: 1.6em;
        margin-bottom: .75em;

        @include media($large-screen) {
          font-size: 2.5em;
        }
      }

      p {
        font-family: $serif;
        margin: auto;
        font-weight: 200;
        line-height: 1.5em;

        @include media($large-screen) {
          font-size: 1.125em;
          max-width: 75%;
        }
      }
    }
  }
}
