.tools-container {
  @include outer-container;
  padding: 5em 3em;
  h2,
  h4 {
    text-align: center;
  }
  h2 {
  }
  .center {
    text-align: center;
  }

  .tools-header{
    padding-bottom: 2em;
  }
}

.tool-content {
  @include media($medium) {
    @include span-columns(12);
  }
  @include span-columns(4);
  img {
    display: block;
    margin: 0 auto;
    height: 150px;
  }
}
