.main article h1 {
  font-size: 2em;
}

.main aside {
  color: white;
  padding: 0 5% 10px;
  border-top: 20px solid #e44d26;
  background: #f16529;
}


/* ====================
    WIDE
   ==================== */

@media only screen and (min-width: 768px) {

  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
       -moz-box-shadow: 0 5px 10px #aaa;
            box-shadow: 0 5px 10px #aaa;
  }

  .main article {
    float: left;
    width: 57%;
  }

  .main aside {
    float: right;
    width: 28%;
  }

}