.title {
  color: white;
}

/* ===============
  ALL: IE Fixes
 =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==============
  MOBILE: Menu
 ============== */

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: white;
  background: #e44d26;
}

nav a:hover,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

/* ==============
  MOBILE: Main
 ============== */

.main {
  padding: 30px 0;
}

.header-container,
.footer-container {
  background: #f16529;
}

.header-container {
  h1 {
    margin: 22px 0;
  }
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 22px 2%;
    margin-bottom: 0;
  }

  nav li:first-child a {
    margin-left: 0;
  }

  nav li:last-child a {
    margin-right: 0;
  }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

  nav ul li {
    display: inline;
  }

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

  .header-container {
    -webkit-box-shadow: 0 5px 10px #aaa;
       -moz-box-shadow: 0 5px 10px #aaa;
            box-shadow: 0 5px 10px #aaa;
  }

/* ============
    WIDE: Menu
   ============ */

  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }

}
